<div class="card-content">
  <h5 class="c-hackernews__title">Hacker News <i class="material-icons">rss_feed</i></h5>

  <table>
    <%= for item <- data do %>
      <tr>
        <td class="c-hackernews__score">
          <span class="white-text badge orange"><%= item.score %></span>
        </td>
        <td class="c-hackernews__item">
          <p><%= item.title %></p>
        </td>
      </tr>
    <% end %>
  </table>
</div>
