<div style="
  background-image: url(https://unsplash.it/1000/1000?random);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
"></div>
