@import "utilities/bem";

@include b(c-hackernews) {
  @include e(title) {
    margin-top: 0;
  }

  @include e(score) {
    padding: 10px 5px;
    padding-right: 1.5rem;
  }

  @include e(item) {
    padding: 10px 5px;
  }
}

