<h1>Pull Requests <i class="fa fa-github" aria-hidden="true"></i></h1>

<table>
  <%= for item <- data do %>
    <tr>
      <td><span class="c-hackernews-score white-text badge orange"><%= item.score %></span></td>
      <td><h3><%= item.title %></h3></td>
    </tr>
  <% end %>
</table>
