<div class="card-content">
  <h5>Open Pull Requests <i class="fa fa-github" aria-hidden="true"></i></h5>

  <table>
    <%= for pr <- data do %>
      <tr>
        <td>
          /<%= pr.repo_name %>
        </td>
        <td>
          <%= pr.count %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
