/* This file is for your main application css. */
html, body {
  font-size: 16px;
  overflow-y: hidden;
}

.c-card-quote {
  em {
  }
}

.c-flavourtown {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 30%;
}

.c-flavourtown-quote {
  width: 80%;
}

.c-hackernews-score {
  margin-right: 1.5rem;
}

.c-dribbble-image {
  max-height: 85%;
  overflow-y: hidden;
}

.c-dribbble-title {
  font-size: 1.333rem;
  font-weight: 300;
  position: absolute;
  bottom: 10px;
  right: 20px;
}
